<a href="https://colab.research.google.com/github/ridho43325123-debug/jobsheet-1/blob/main/Jobsheet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pratikum 1 variabel dan tipe data

In [ ]:
# Integer
umur = 20
print("Umur:", umur, "→", type(umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi))

# String
nama = "Andi"
print("Nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "→", type(hobi))

Umur: 20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Andi → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'membaca', 'musik', 'olahraga'} → <class 'set'>

Pratikum 02 Input dan Output Dasar

In [ ]:
# Input string
nama = input("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))
# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: ridho
Masukkan umur Anda: 18
Masukkan tinggi badan (cm): 173
Halo, ridho umur Anda: 18 tahun, tinggi: 173.0 cm
Halo ridho, umur Anda 18 tahun, tinggi 173.0 cm
Halo ridho, umur Anda 18 tahun, tinggi 173.0 cm

Pratikum 03 Operator Aritmatika

In [ ]:
a = 15
b = 4
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

Pratikum 04 Operator Relasional

In [ ]:
x = 10
y = 20
b = False

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y  :", x < y)
print("x > y  :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y  : True
x > y  : False
x <= y : True
x >= y : False

Pratikum 05 Operator Logika dengan Studi Kasus Nyata

In [ ]:
# Operator logika dasar
a = True
b = False
print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12  # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
    print("Status: LULUS")
else:
    print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian: 90
Masukkan jumlah kehadiran: 15
Status: LULUS

Pratikum 06 Program Kasir Sederhana

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))
total = harga * jumlah

# Aturan diskon
if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print("Barang :", barang)
print("Jumlah :", jumlah)
print("Total  : Rp", total)

Masukkan nama barang: wafer nisiin
Masukkan harga barang: 10000
Masukkan jumlah barang: 5

===== Struk Belanja =====
Barang : wafer nisiin
Jumlah : 5
Total  : Rp 50000.0