<a href="https://colab.research.google.com/github/ridho43325123-debug/Algoritma-Pemograman/blob/main/Jobsheet6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pratrikum 01

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])     # Andi
print(mahasiswa[1])     # Budi
print(mahasiswa[-1])    # Cici

Andi
Budi
Cici

Pratikum 02

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

Pratikum 03

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])   # [85, 90, 78]
print(nilai[2:])    # [78, 92, 88]
print(nilai[:3])    # [85, 90, 78]

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

Pratikum 04

In [ ]:
 matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks[0][0])  # 1
print(matriks[1][2])  # 6
print(matriks[2])     # [7, 8, 9]

1
6
[7, 8, 9]

Pratikum 05

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j] + B[i][j])
    C.append(baris)

print(C)

[[8, 10, 12], [14, 16, 18]]

Pratikum 06

In [ ]:
nilai = [
     [80, 90, 85],
     [70, 75, 80],
     [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
     rata = sum(baris) / len(baris)
     print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

Penugasan 01

In [ ]:
mahasiswa = ["Budi", "Andi", "Citra", "Dewi", "Eko"]

print("Nama pertama:", mahasiswa[0])
print("Nama terakhir:", mahasiswa[-1])
print("Nama pada indeks ke-2:", mahasiswa[2])

Nama pertama: Budi
Nama terakhir: Eko
Nama pada indeks ke-2: Citra

Penugasan 02

In [ ]:
nilai = [70, 75, 80]

nilai[1] = 85        # ubah nilai kedua
nilai.append(90)     # tambahkan nilai 90
nilai.remove(70)     # hapus nilai 70

print("Hasil akhir:", nilai)

Hasil akhir: [85, 80, 90]

Penugasan 03

In [ ]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("3 elemen pertama:", angka[:3])
print("4 elemen terakhir:", angka[-4:])
print("Elemen dengan indeks genap:", angka[::2])

3 elemen pertama: [1, 2, 3]
4 elemen terakhir: [7, 8, 9, 10]
Elemen dengan indeks genap: [1, 3, 5, 7, 9]

Penugasan 04

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print("Baris pertama kolom kedua:", matriks[0][1])
print("Baris kedua kolom ketiga:", matriks[1][2])
print("Seluruh baris pertama:", matriks[0])

Baris pertama kolom kedua: 2
Baris kedua kolom ketiga: 6
Seluruh baris pertama: [1, 2, 3]

Penugasan 05

In [ ]:
A = [[1, 2],
     [3, 4]]

B = [[5, 6],
     [7, 8]]

C = []

for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j] + B[i][j])
    C.append(baris)

print("Hasil penjumlahan matriks:")
print(C)

Hasil penjumlahan matriks:
[[6, 8], [10, 12]]

Penugasan 06

In [ ]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, mhs in enumerate(nilai, start=1):
    rata = sum(mhs) / len(mhs)
    print(f"Mahasiswa {i} - Rata-rata: {rata:.2f}")

Mahasiswa 1 - Rata-rata: 80.00
Mahasiswa 2 - Rata-rata: 65.00
Mahasiswa 3 - Rata-rata: 92.33

Penugasan 07

In [ ]:
stok = [["Buku", 20], ["Pulpen", 35], ["Penghapus", 15]]

print("Daftar Stok Barang:")
for barang, jumlah in stok:
    print(f"{barang}: {jumlah}")

# Cari stok terbanyak
barang_terbanyak = max(stok, key=lambda x: x[1])
print(f"\nBarang dengan stok terbanyak: {barang_terbanyak[0]} ({barang_terbanyak[1]} unit)")

Daftar Stok Barang:
Buku: 20
Pulpen: 35
Penghapus: 15

Barang dengan stok terbanyak: Pulpen (35 unit)