<a href="https://colab.research.google.com/github/ridho43325123-debug/Algoritma-Pemograman/blob/main/Jobsheet04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pratrikum 01

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

Pratikum 02

In [ ]:
n = int(input("Masukkan angka: "))
while n > 0:
    print(n)
    n -= 1

Masukkan angka: 5
5
4
3
2
1

Pratikum 03

In [ ]:
for i in range(1, 5):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

Pratikum 04

In [ ]:
for i in range(1, 10):
    if i % 2 == 1:
        continue
    print(i)

2
4
6
8

Pratikum o5

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}
for k, v in data.items():
     print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

Pratikum 06

In [ ]:
 daftar = ["Andi", "Budi", "Cici"]

 for i, nama in enumerate(daftar, start=1):
     print(i, nama)

1 Andi
2 Budi
3 Cici

Pratikum 07

In [ ]:
total = 0

while True:
    barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
    if barang.lower() == "selesai":
        break

    harga = float(input(f"Masukkan harga {barang}: "))
    jumlah = int(input(f"Masukkan jumlah {barang}: "))

    subtotal = harga * jumlah
    total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): buku
Masukkan harga buku: 50000
Masukkan jumlah buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): pulpen
Masukkan harga pulpen: 5000
Masukkan jumlah pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

Penugasan 01

In [ ]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

Penugasan 02

In [ ]:
n = int(input("Masukkan bilangan: "))
faktorial = 1

i = 1
while i <= n:
    faktorial *= i
    i += 1

print(f"Faktorial dari {n} adalah {faktorial}")

Masukkan bilangan: 24
Faktorial dari 24 adalah 620448401733239439360000

Penugasan 03

In [ ]:
tinggi = 5

for i in range(tinggi, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

Penugasan 04

In [ ]:
n = int(input("Masukkan bilangan: "))

if n < 2:
    print(f"{n} bukan bilangan prima")
else:
    i = 2
    while i < n:
        if n % i == 0:
            print(f"{n} bukan bilangan prima (habis dibagi {i})")
            break
        i += 1
    else:
        print(f"{n} adalah bilangan prima")

Masukkan bilangan: 4
4 bukan bilangan prima (habis dibagi 2)

Penugasan 05

In [ ]:
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

Penugasan 06

In [ ]:
mahasiswa = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for key, value in mahasiswa.items():
    print(f"{key} : {value}")

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

Penugasan 07

In [ ]:
barang = ["Buku", "Pulpen", "Tas"]

for i, item in enumerate(barang, start=1):
    print(f"{i} {item}")

1 Buku
2 Pulpen
3 Tas

Penugasan 08

In [ ]:
total = 0

while True:
    barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
    if barang.lower() == "selesai":
        break

    harga = float(input(f"Masukkan harga {barang}: "))
    jumlah = int(input(f"Masukkan jumlah {barang}: "))

    subtotal = harga * jumlah
    total += subtotal

print("\n===== STRUK BELANJA =====")
print(f"Total Belanja : Rp {total:,.0f}")

if total >= 200000:
    diskon = total * 0.10
    total_akhir = total - diskon
    print(f"Diskon (10%) : Rp {diskon:,.0f}")
    print(f"Total Bayar  : Rp {total_akhir:,.0f}")
else:
    print("Diskon (0%)  : Rp 0")
    print(f"Total Bayar  : Rp {total:,.0f}")

print("==========================")
print("Terima kasih sudah berbelanja!")

Masukkan nama barang (ketik 'selesai' untuk berhenti): mesin cuci
Masukkan harga mesin cuci: 400000
Masukkan jumlah mesin cuci: 4
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== STRUK BELANJA =====
Total Belanja : Rp 1,600,000
Diskon (10%) : Rp 160,000
Total Bayar  : Rp 1,440,000
==========================
Terima kasih sudah berbelanja!