<a href="https://colab.research.google.com/github/ridho43325123-debug/Algoritma-Pemograman/blob/main/Jobsheet_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pratikum 01

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

Pratikum 02

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM  :", mahasiswa["NIM"])
print("Nama :", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM  : 20251001
Nama : Andi
Prodi: TRK
NIM  : 20251001
Nama : Andi
Prodi: TRK

Pratikum 03

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20                      # menambah data
mahasiswa["Prodi"] = "Teknik Komputer"      # memperbarui data
del mahasiswa["Umur"]                       # menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

Pratikum 04

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

Pratikum 05

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Algoritma', 'Matematika', 'Bahasa Inggris'}
Mata kuliah Mhs2: {'Algoritma', 'Matematika', 'Basis Data'}
Mata kuliah yang sama: {'Algoritma', 'Matematika'}

Pratikum 06

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

Penugasan 01

In [ ]:
mahasiswa = ("Andi", 20, "Teknik Komputer")

print("Nama :", mahasiswa[0])
print("Umur :", mahasiswa[1])
print("Prodi:", mahasiswa[2])

Nama : Andi
Umur : 20
Prodi: Teknik Komputer

Penugasan 02

In [ ]:
angka = (1, 2, 3)
angka[0] = 10   # mencoba mengubah elemen tuple

TypeError: 'tuple' object does not support item assignment

Penugasan 03

In [ ]:
buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": 2021
}

print("Judul  :", buku["Judul"])
print("Penulis:", buku["Penulis"])
print("Tahun  :", buku["Tahun"])

Judul  : Algoritma
Penulis: Munir
Tahun  : 2021

Penugasan 04

In [ ]:
dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

dosen["Umur"] = 40                 # menambah data
dosen["Prodi"] = "Teknik Komputer" # memperbarui data
del dosen["Umur"]                  # menghapus data

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

Penugasan 05

In [ ]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union        :", A | B)
print("Intersection :", A & B)
print("Difference   :", A - B)

Union        : {'Algoritma', 'Bahasa Inggris', 'Matematika', 'Basis Data'}
Intersection : {'Algoritma', 'Matematika'}
Difference   : {'Bahasa Inggris'}

Penugasan 06

In [ ]:
nilai = {"Andi": 85, "Budi": 90, "Cici": 78}

for nama, skor in nilai.items():
    print(f"{nama}: {skor}")

rata_rata = sum(nilai.values()) / len(nilai)
print(f"Rata-rata nilai: {rata_rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

Penugasan 07

In [ ]:
klub_A = {"Andi", "Budi", "Cici"}
klub_B = {"Cici", "Deni", "Eka"}

print("Semua anggota       :", klub_A | klub_B)
print("Anggota di kedua klub:", klub_A & klub_B)
print("Hanya di Klub A     :", klub_A - klub_B)

Semua anggota       : {'Budi', 'Deni', 'Eka', 'Cici', 'Andi'}
Anggota di kedua klub: {'Cici'}
Hanya di Klub A     : {'Budi', 'Andi'}